.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  margin: 0
}

.form {
  min-width: 300px;
  padding-top: 25px;
}

.text-box {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  width: 25%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 81px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.8rem;
  margin-bottom: 0px;
  padding: 0.5rem;
  height: 100%;
  color: white;
  vertical-align: middle;
  align-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 150px;
  border: 1px solid white;
  max-width: 800px;
  margin: auto;
}

.title {
  color: #61dafb;
  font-size: 2.0rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.company {
  font-style: italic;
  font-size: 1.7rem;
  font-weight: bold;
  color:cadetblue;
  margin-top: 0.5rem;
}

.location {
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  margin-top: 0.5rem;
}

.salary {
  font-size: 1.2rem;
  font-weight: bold;
  color:rgb(185, 247, 247);
  margin-top: 0.5rem;
}

.jobs_list {
  margin-top: 25px;
  margin-bottom: 25px;
}